Desktop/DSDesktop/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="TimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class_Room_Lab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class_Room_Lab_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Teacher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTable" nillable="true" type="tns:TimeTable" />
  <xs:complexType name="ArrayOfTimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTable" nillable="true" type="tns:TimeTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTable" nillable="true" type="tns:ArrayOfTimeTable" />
  <xs:complexType name="Staff">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_of_birth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Joined_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qualifications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Admission_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staff" nillable="true" type="tns:Staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaff" nillable="true" type="tns:ArrayOfStaff" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="ArrayOfnewstfshw">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="newstfshw" nillable="true" type="tns:newstfshw" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfnewstfshw" nillable="true" type="tns:ArrayOfnewstfshw" />
  <xs:complexType name="newstfshw">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="newstfshw" nillable="true" type="tns:newstfshw" />
</xs:schema>