Desktop/DSDesktop/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16924/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComputingTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q3:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComputingTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddComputingTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagementTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q4:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagementTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddManagementTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEngineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q5:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEngineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEngineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetComTimeTableResult" nillable="true" type="q6:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmngTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmngTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetmngTimeTableResult" nillable="true" type="q7:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetengTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetengTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetengTimeTableResult" nillable="true" type="q8:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="s" nillable="true" type="q9:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStaffTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="st" nillable="true" type="q10:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpEngineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q11:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpEngineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpEngineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpcomineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q12:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpcomineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpcomineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpmngineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q13:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpmngineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpmngineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelEngineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q14:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelEngineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelEngineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelcomineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q15:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelcomineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelcomineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelmngineeringTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="t" nillable="true" type="q16:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelmngineeringTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelmngineeringTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpStaffTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="s" nillable="true" type="q17:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpStaffTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpStaffTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpStudentTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="st" nillable="true" type="q18:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpStudentTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpStudentTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delstaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="s" nillable="true" type="q19:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelstaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelstaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delstudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="s" nillable="true" type="q20:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelstudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelstudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getstf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getstfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getstfResult" nillable="true" type="q21:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getstu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getstuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getstuResult" nillable="true" type="q22:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getstfIDnEmail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getstfIDnEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getstfIDnEmailResult" nillable="true" type="q23:ArrayOfnewstfshw" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentComTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentComTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetCurrentComTimeTableResult" nillable="true" type="q24:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMngTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMngTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetCurrentMngTimeTableResult" nillable="true" type="q25:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEngTimeTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEngTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetCurrentEngTimeTableResult" nillable="true" type="q26:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Userlogine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserlogineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="UserlogineResult" nillable="true" type="q27:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="SearchStaffResult" nillable="true" type="q28:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="SearchStudentResult" nillable="true" type="q29:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WebLoginResult" nillable="true" type="q30:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WebLogin2Result" nillable="true" type="q31:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchComputingTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchComputingTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="SearchComputingTableResult" nillable="true" type="q32:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchManagementTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchManagementTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="SearchManagementTableResult" nillable="true" type="q33:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchengineeringTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchengineeringTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="SearchengineeringTableResult" nillable="true" type="q34:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>